#business-rates {
  margin-top: 150px;
  height: 900px;
  width: 100%;
}
#business-rates .container {
  width: 80%;
  margin: 0px auto;
  height: 100%;
}
#business-rates .container .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#business-rates .container .row-top .col-6 {
  width: 50%;
  height: 125px;
}
#business-rates .container .row-top .col-6-left {
  padding-top: 25px;
}
#business-rates .container .row-top .col-6-left h1 {
  margin-bottom: 26px;
  font-family: Gothic A1;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.87);
  line-height: 24px;
  letter-spacing: 0.3px;
  font-size: 30px;
}
#business-rates .container .row-bottom {
  padding: 36px;
  margin-top: 36px;
  height: 700px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#business-rates .container .row-bottom .col-4 {
  width: 32%;
  height: 100%;
}
#business-rates .container .row-bottom .col-4 h1 {
  margin-bottom: 26px;
  font-family: Gothic A1;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.87);
  line-height: 24px;
  letter-spacing: 0.3px;
  font-size: 26px;
}
#business-rates .container .row-bottom .col-4 .credit {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
#business-rates .container .row-bottom .col-4 .credit span {
  font-family: Gothic A1;
  font-weight: 550;
  color: rgba(22, 22, 22, 0.87);
  line-height: 24px;
  letter-spacing: 0.3px;
  font-size: 55px;
  margin-right: 6px;
}
#business-rates .container .row-bottom .col-4 .credit i {
  color: rgba(22, 22, 22, 0.87);
  margin-right: 6px;
}
#business-rates .container .row-bottom .col-4 .credit p {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 19px;
  line-height: 20px;
  letter-spacing: 0.25px;
  margin-bottom: 10px;
}
#business-rates .container .row-bottom .col-4 .descriptions {
  height: 200px;
}
#business-rates .container .row-bottom .col-4 .descriptions ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}
#business-rates .container .row-bottom .col-4 .descriptions ul li {
  display: flex;
}
#business-rates .container .row-bottom .col-4 .descriptions ul li p {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.25px;
  margin-right: 6px;
}
#business-rates .container .row-bottom .col-4 .descriptions ul li span {
  color: #099a71;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.25px;
}
#business-rates .container .row-bottom .col-4 .descriptions ul #title p {
  font-family: Gothic A1;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.87);
  line-height: 24px;
  letter-spacing: 0.15px;
  font-size: 18px;
}
#business-rates .container .row-bottom .col-4 .button-container {
  margin-top: 50px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#business-rates .container .row-bottom .col-4 .button-container .buttons {
  height: 45px;
  width: 100%;
  border-radius: 8px;
}
#business-rates .container .row-bottom .col-4 .button-container .buttons p {
  font-family: Gothic A1;
  font-weight: 600;
  color: #099a71;
  line-height: 24px;
  letter-spacing: 0.15px;
  font-size: 18px;
}
#business-rates .container .row-bottom .col-4 .button-container .button-top {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
#business-rates .container .row-bottom .col-4 .button-container .button-bottom {
  background-color: #099a71;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
#business-rates .container .row-bottom .col-4 .button-container .button-bottom p {
  font-family: Gothic A1;
  font-weight: 600;
  color: white;
  line-height: 24px;
  letter-spacing: 0.15px;
  font-size: 18px;
}

#business-rates .container .row-bottom .col-4 .button-container .button-top:hover {
  background-color: rgb(224, 243, 237);
  transition: 1s;
  cursor: pointer;
}

#business-rates .container .row-bottom .col-4 .button-container .button-bottom:hover {
  background-color: #0ece98;
  transition: 1s;
  cursor: pointer;
}/*# sourceMappingURL=business-rates.css.map */