$headerLinkTagNormalColors: rgba(136, 134, 134, 0.87);
$headerLinkTagHoverColors: black;
$headerATagFontSizes: 17px;
$greenButtonNormalColor: #058d66;
$greenButtonHoverColor: #0ece98;
$headerListMarginSpaces: 30px;