$headerLinkTagNormalColors: rgba(136, 134, 134, 0.87);
$headerLinkTagHoverColors: black;
$headerATagFontSizes: 17px;
$greenButtonNormalColor: #058d66;
$greenButtonHoverColor: #0ece98;
$headerListMarginSpaces: 30px;
$first-slide-background-color: rgb(231, 244, 249);
$second-slide-background-color: rgb(224, 243, 237);
$third-slide-background-color: rgb(255, 235, 240);
$fourth-slide-background-color: rgb(253, 246, 231);
$OurBenefitsBoxColors:#099a71;
$OurServicesFifthBoxColor:#f4f5f4;