header{
    background-color: gray;
    .header-top{
        height: 50px;
        .header-container{
            width: 93%;
           
            margin: 0px auto;
            .header-row{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
    .header-bottom{
        height: 80px;
        .header-container{
            width: 93%;
            
            margin: 0px auto;
            .header-row{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}