header{
    
    .header-top{
        height: 50px;
        border-bottom: 1px solid rgb(214, 210, 210);
        .header-container{
            width: 93%;
           
            margin: 0px auto;
            .header-row{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                
            }
        }
    }
    .header-bottom{
        height: 90px;
        border-bottom: 1px solid rgb(214, 210, 210);
        .header-container{
            width: 93%;
            
            margin: 0px auto;
            .header-row{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}