@import '../Utilities/variables';
.header-top{
    width: 100%;
    height: 50px;
    
}
header .header-top .header-container-top .header-row .header-col-6-left ul li{
    margin-right: 30px;
    a{
        color: $headerLinkTagNormalColors;
        font-size: $headerATagFontSizes;
        i{
            margin-left: 10px;
            
        }
    }
}
header .header-top .header-container-top .header-row .header-col-6-left ul li a:hover{
    color: $headerLinkTagHoverColors;
}
    
        